.dropdown {
  position: relative;
  display: inline-block;
  width: 200px;
}

.button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button:hover {
  background-color: #f0f0f0;
}

.label {
  color: #5433ff;
  font-size: 16px;
}

.arrow {
  font-size: 16px;
  color: #5433ff;
}

.list {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
}

.item {
  padding: 10px;
  cursor: pointer;
}

.item:hover {
  background-color: #f0f0f0;
}
