.chat-bot {
    background-color: #524f87;
    height: 832px;
    position: relative;
    width: 1280px;
  }
  
  .text-wrapper {
    -webkit-text-stroke: 1px #322777;
    color: #f6e963;
    font-family: "KyivType Sans-Regular", Helvetica;
    font-size: 28px;
    font-weight: 400;
    height: 122px;
    left: 229px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 292px;
    width: 819px;
  }
  
  .div {
    -webkit-text-stroke: 3px #312776;
    color: #f5e962;
    font-family: "KyivType Sans-Regular", Helvetica;
    font-size: 60px;
    font-weight: 400;
    left: 219px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 7px #000000;
    top: 220px;
    white-space: nowrap;
  }
  
  .film-footer, .film-header {
    height: 182px;
    position: absolute;
    width: 1280px;
  }
  
  .film, .film-2, .film-3, .film-4, .film-5 {
    position: absolute;
    height: 180px;
    object-fit: cover;
  }
  
  .film {
    left: 1258px;
    width: 22px;
  }
  
  .img {
    left: 0;
    width: 629px;
    top: 0;
  }
  
  .film-2 {
    left: 629px;
    width: 629px;
  }
  
  .film-3, .film-4, .film-5 {
    left: 0;
    width: 629px;
  }
  
  .film-3 {
    left: 1258px;
  }
  
  .film-4, .film-5 {
    object-fit: cover;
  }
  .chat-bot .dropdown {
    margin-top: 20px;
    /* Add any other styles as needed */
  }
  
  